{% extends "workout_app/base_template.html" %}
{% load static %}

{% block content %}
<div class="row justify-card-right">
    <div class="col-md-4 float-right">
        <div class="card">
            <a href="{% url 'plan_list' %}">
                <img src="{% static 'images/dumbell_image.jpg' %}" class="card-img-top" alt="Thumbnail 1">
                <div class="card-body">
                    <h5 class="card-title">Thumbnail 1</h5>
                    <!-- Add any additional content here -->
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 float-right">
        <div class="card">
            <a href="{% url 'plan_list' %}">
                <img src="{% static 'images/dumbell_image.jpg' %}" class="card-img-top" alt="Thumbnail 2">
                <div class="card-body">
                    <h5 class="card-title">Thumbnail 2</h5>
                    <!-- Add any additional content here -->
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 float-right">
        <div class="card">
            <a href="{% url 'plan_list' %}">
                <img src="{% static 'images/dumbell_image.jpg' %}" class="card-img-top" alt="Thumbnail 3">
                <div class="card-body">
                    <h5 class="card-title">Thumbnail 3</h5>
                    <!-- Add any additional content here -->
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
