{% extends "workout_app/base_template.html" %}
{% load static %}

{% block content %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    body {
        background-image: url("{% static 'images/home_image.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .workout-link img {
        width: 200px; /* Adjust the width of the image */
        height: auto; /* Maintain aspect ratio */
        cursor: pointer; /* Show pointer cursor on hover */
    }
</style>

<div class="workout-link">
    <a href="{% url 'plan_list' %}">
        <img src="{% static 'images/home_image.jpg' %}" alt="Workout Image">
    </a>
</div>

{% endblock %}
